version: '3'
services:
    web:
        container_name: web
        build:
            context: .
            dockerfile: Dockerfile
        ports:
            - "80:80"
            - "443:443"
            - "8080:8080"
        volumes:
            - ".:/code"
        networks:
            - main
        depends_on:
            - db
        volumes:
            - ./.encryptedFiles:/encryptedFiles
            - /etc/letsencrypt:/letsencrypt:ro
            - ./.wellKnown:/wellKnown:ro
        env_file:
            - envVariables.env
            - ssl.env

    db:
        container_name: db
        image: mysql
        volumes:
            - ./.mysqlSetup:/docker-entrypoint-initdb.d/:ro
            - ./.mysql:/var/lib/mysql
        networks:
            - main
        hostname: "db"
        env_file:
            - envVariables.env
        ports:
            - "3306:3306"

volumes:
    .mysql:
    .encryptedFiles:
    .certificates:
    .mysqlSetup:
    .wellKnown:
        

networks:
    main:
